@import url('https://fonts.googleapis.com/css?family=Open Sans');
:root{
  --fontColor1:#20404A
}
*{
  
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}
input{
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #707070;
  padding: .5rem;
  width: 100%;
  outline: none;
}
li::after{
  content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: var(--fontColor1);
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}
li:hover::after{
  /* cursor: pointer; */
  transform: scaleX(1);
  transform-origin: bottom left;
}